{% extends 'base.html' %}

{% block title %}
<title>Lista de instrumentos</title>
{% endblock title %}

{% block primer_vista %}
<h1 class="mb-5"> esta es la lista </h1>
{% endblock primer_vista %}

{% block cuerpo %}
<p>
    <a href= {% url 'carga_instrumento' %} >Cargar instrumento</a>
</p>

<p>
   
    <form action= {% url 'lista_instrumento' %} >
        {{form}}
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if lista_instrumento %}
    <ul>
        
        {% for instrumento in lista_instrumento %}
        <li> {{instrumento.nombre}} , tipo de instrumento: {{instrumento.tipo}} </li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron resultados.
    {% endif %}
    
</p>

{% endblock cuerpo %}

